/* VARIABLES */
:root {
    --color-primary: #36382D;
    --color-primary-light: #686B56;
    --color-primary-dark: #47493b;
    --color-secondary: #dcfaec;
    --color-secondary-light: #B0D4C3;
    --color-secondary-dark: #c2ebd7;
    --color-secondary-darker: #74a58d;
    --color-accent: #D9FFF5;
    --color-danger: #B23E42;
    --color-success: #369636;
}

/* ANIMATIONS */

@keyframes hands-down-left {
    from {transform: translate(-100px, -100px) rotate(0)}
    to {transform: translate(0px) rotate(90)}
}

@keyframes hands-down-right {
    from {transform: translate(100px, -100px) rotate(0)}
    to {transform: translate(0px) rotate(-90)}
}

/* DOCUMENT */

body {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.game__title {}

.game__round {
    position: relative;
}

.game__round::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid var(--color-primary);
    z-index: -2;
}

.game__round::after{
    content: '';
    position: absolute;
    width: 110px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-secondary);
    z-index: -1;
}

.round__value {}

.result-container {
    overflow: hidden;
    display: grid;
    grid-template-areas: 'player computer'
                         'textInput textInput';
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
}

.result__play {
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
    animation-duration: .75s;
}

.result__play--player {
    grid-area: player;
    transform: rotate(90deg);
}

.result__play--player-animation {
    animation-name: hands-down-left;
}

.result__play--computer {
    grid-area: computer;
    transform: rotate(-90deg);
}

.result__play--computer-animation {
    animation-name: hands-down-right;
}

.result__icon {
    font-size: 8rem;
}

.result__text {
    grid-area: textInput;
    font-size: 1.5rem;
    margin: 20px 0 0;
}

.option-container {
    display: grid;
    grid-template-areas: 'title title title'
                         'paper rock scissors'
                         'button button button';
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
}

.option__title {
    grid-area: title;
    font-size: 1.3rem;
}

.option__label {
    font-size: 5rem;
    width: 100px;
    height: 100px;
    align-self: center;
    display: grid;
    place-items: center;
    cursor: pointer;

}

.option__label--paper {
    grid-area: paper;
}

.option__label--rock {
    grid-area: rock;
}

.option__label--scissors {
    grid-area: scissors;
    transform: rotate(90deg);
}

.option__item {
    display: none;
}

.option-container .option__item:checked + .option__label {
    color: var(--color-success);
}

.option__icon {}

.option__play {
    grid-area: button;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
}

.option__play:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary-darker);
}

.option__play:disabled {
    background-color: var(--color-primary-light);
    color: var(--color-secondary-light);
} 

.scoreboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scoreboard__title {
    width: 100%;
}

.scoreboard__name {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.scoreboard__score {
    font-size: 1.3rem;
    font-weight: bold;
}

.scoreboard__score--player {
    color: var(--color-success);
}

.scoreboard__score--computer {
    color: var(--color-danger);
}

.round-log {
    max-width: 580px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 3px solid var(--color-secondary-dark);
    border-top: none;
    background-color: var(--color-secondary-dark);
}

.round-log__title {
    padding: 16px;
    margin: 0;
}

.round-log__container {
    height: 200px;
    overflow: scroll;
}

.round-log__play:nth-child(odd) {
    background-color: var(--color-secondary);
    height: 20px;
}

.round-log__container-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-weight: bold;
}

.round-log__round-header {
    grid-column: 1/2;
}

.round-log__winner-header {
    grid-column: 2/3;
    width: 100px;
}

.round-log__score-play-header {
    grid-column: 3/6;
}

.round-log__play {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.round-log__round {
    grid-column: 1/2;
}

.round-log__winner {
    grid-column: 2/3;
    width: 100px;
}

.round-log__icon-player {
    grid-column: 3/4;
}

.round-log__versus {
    grid-column: 4/5;
}

.round-log__icon-computer {
    grid-column: 5/6;
}

@media screen and (min-width: 600px) {

    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .game__title {
        grid-column: 1/4;
    }
    .game__round {
        grid-column: 1/4;
    }
    .result-container {
        grid-column: 1/4;
    }
    .result__play {
        width: 200px;
        height: 200px;
    }
    
    .result__icon {
        font-size: 10rem;
    }

    .option-container {
        grid-column: 1/4;
    }

    .option__play {
        margin: 20px 0;
    }

    .scoreboard {
        justify-self: center;
        flex-direction: column;
        align-items: center;
    }

    .scoreboard__title {
        width: 150px;
    }

    .scoreboard__name {
        align-items: center;
    }

    .round-log {
        grid-column: 2/4;
    }
}

@media screen and (min-width: 900px) {
    .result-container {
        grid-column: 2/4;
    }

    .option-container {
        grid-column: 2/4;
    }

    .scoreboard {
        order: 1;
        grid-row: 3/5;
    }

    .round-log {
        order: 2;
        grid-column: -4/4;
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .game__title,
    .game__round {
        grid-column: 1/6;
    }

    .game__round {
        font-size: 1.5rem;
    }

    .game__round::after {
        width: 150px;
    }

    .scoreboard {
        align-items: center;
    }

    .scoreboard__title {
        font-size: 1.5rem;
    }

    .scoreboard__name {
        flex-direction: column;
        font-size: 1.5rem;
        margin: 0;
    }

    .scoreboard__score {
        margin: 0;
        font-size: 2rem;
        margin-top: 10px;
    }

    .round-log {
        order: 0;
        grid-column: 4/6;
        grid-row: 3/6;
        margin: 0;
    }

    .round-log__container {
        height: 400px;
        overflow-x: hidden;
    }

    .round-log__title {
        font-size: 1.5rem;
    }
}
